*{
    margin: 0;
    padding: 0;
    border: 0;
}

.body {
    min-height: 2000px;
    overflow: hidden;
    width: 100%;
}

nav{
    width: 100%;
    height: 40px;
    background-color: #232323;
    position: fixed;
    z-index: 1;
    opacity: .7;
    text-align: center;
    margin-bottom: 10%;;
}

nav li {
    font-size: 150%;
    margin: 0 2.5%;
    margin-top: .2%;
    display: inline-block;
}

.nav{
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-align: center;
    
}

.nav::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav:hover::after {
    width: 100%;
    transition: width .3s;
}

.intro {
    align-items: center;
    background: url('/images/intro-wallpaper.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.headshot-about-container {
    display: inline-block;
    text-align: center;
    max-width: 95vw;
}

.container {
    display: inline-block;
    margin-top: 9%;
    width: 100vw;
    text-align: center;
}

.info {
    color: #ffff;
    font-family: 'Courier New', Courier, monospace;

}

.aboutMe {
    min-width: 35vw;
}

.icon1 {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.icon2 {
    width: 40px;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: middle;
}

.resume-link {
    color: white;
    font-size: 200%;
    font-weight: bold;
    text-decoration: none;
    vertical-align: bottom;
}

.background-image {
    background: url('/images/programming-wallpaper.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 200vh;
    width: 100vw;
}

.skills-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.skills-box {
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 72vh;
    opacity: 0.8;
    text-align: center;
    width: 100%;
}

.skills-inner-box {
    min-height: 50vh;
    width: 100vw;
}

.skill-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skills-icons {
    height: 30%;
    width: 30%;
    margin-bottom: 5px;
}

.skills-icons-resize {
    height: 22%;
    width: 22%;
    margin-bottom: 5px;
}

.skills-icons-resize2 {
    height: 33%;
    width: 33%;
    margin-bottom: 5px;
}

.skills-sections {
    color: #004C4C;
    display: inline-block;
    margin-bottom: 50px;
    margin: 1%;
    min-height: 250px; 
    text-align: center;
    width: 48%;
    vertical-align: top;
}

.text {
    margin-bottom: 10px;
    font-size: 100%;
}

.skills-section-title{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    max-width: 200px;
    margin: auto;
    font-size: 27px;
    margin-bottom: 10px;
    animation: text 3s 1;
    text-align: center;
}

@keyframes text{
    0% {
        color: black;
        margin-bottom: 40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: 40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: 40px;
    }
}

.projects-container {
    align-items: center;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100vw;
}

.projects {
    margin-top: 15%;
    min-height: 70vh;
    width: 100vw;
}

.project {
    animation: border 2s linear infinite;  
    background-color: rgb(0, 0, 0);
    border-radius: 20px;  
    display: inline-block;
    margin-bottom: 2%;
    max-width: 500px;
    min-height: 570px;
    opacity: 0.89;
    text-align: center;
    vertical-align: top;
}

.image1 {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.project-summary {
    color: white;
    font-weight: 200;
    margin: 2%; 
    margin-bottom: 6%; 
}

.tech-used {
    color: white;
    font-weight: lighter;
    margin-bottom: 7%;
}

.projects-or {
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: super;
    margin-right: 3%;
    margin-left: 3%;
}

.view-site {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.github-icon {
    width: 26px;
    height: 26px;  
    border-radius: 25px;  
}

.contact-container {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    width: 100%;
    height: 100vh;
    position: relative;
}

.contact {
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-title {
    color: rgb(25, 156, 218);
    font-size: 35px;
    margin-bottom: 3%;
    text-align: center;
}

.form-label {
    color: white;
}

.form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: rgb(16, 72, 145);
    color: white;
    font-size: 15px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.submit:hover{
    background-color: #470343;
}

.error {
    color: #E0E0E0;
    font-size: 20px;
}

.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background-color: #1b2735;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(192, 174, 174);
    min-height: 15vh;
    min-width: 17vw;
    padding: 13px;
    outline: none;
    border-radius: 20px;
}

.modal-button {
    background-color: rgb(16, 72, 145);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 70px;
    height: 30px;
}



@media only screen and (max-width:360px) {
    nav li {
        font-size: 130%;
    }

    .skills-box {
        margin-top: 13%;
        margin-bottom: 6%;
    }
}

@media only screen and (width: 540px) {
    .skills-container {
        margin-top: 19%;
    }

    .projects-container {
        margin-top: 10%;
    }
}

@media only screen and (width: 768px){
    .intro {
        height: 1024px;
    }
    
    .container {
        margin-top: 12%;
    }

    .skills-container {
        height: 1024px;
        margin: 0 auto;
    }
    
    .projects-container {
        width: 95%;
        margin: 0 auto;
    }

    .projects {
        margin-top: 10%;
    }

    .project {
        min-height: 620px;
    }

    .contact {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        background-attachment: fixed;
    }
    .container {
        margin-top: 2.5%;
    }

    .icon2 {
        margin-left: 3%;
        margin-right: 3%;
    }

    .project {
        animation: neon .08s ease-in-out infinite alternate;
    }
    @keyframes neon {
        from {
          box-shadow:
          0 0 6px rgba(202,228,225,0.92),
          0 0 30px rgba(202,228,225,0.34),
          0 0 12px rgba(30,132,242,0.52),
          0 0 21px rgba(30,132,242,0.92),
    
        }
        to {
          box-shadow:
          0 0 6px rgba(202,228,225,0.98),
          0 0 30px rgba(202,228,225,0.42),
          0 0 12px rgba(30,132,242,0.58),
          0 0 22px rgba(30,132,242,0.84),
    
        }
      }
}

@media only screen and (min-width: 1000px) {
    .icon1 {
        width: 50px;
        height: 50px;
    }

    .icon2 {
        width: 50px;
        height: 50px;
    }

    .skills-container{
        height: 100vh;    
    }

    .skills-inner-box {
        width: 60vw;
    }

    .projects {
        margin-top: 0;
    }

    .project {
        height: 70vh;
        margin-right: 5%;
        margin-left: 5%;
    }

    .contact {
        width: 35%;
    }
}

@media only screen and (width:1024px) {    
    .aboutMe {
        margin-top: 3%;
    }

    .skills-inner-box {
        height: 30vh;
    }

    .skills-box {
        min-height: 20vh !important;
    }
    
    .projects-container {
        margin-top: 5%;
    }

    .projects {
        margin-top: 6%;
    }

    .project {
        width: 500px;
        height: 50vh;
    }

    .contact {
        width: 70%;
    }
}

@media only screen and (min-width: 1200px) {
    .project {
        width: 20%;
        margin-bottom: 0;
        margin-top: 0;
    }
}











